<%= form_with(model: meal) do |form| %>
  <% if meal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input input-bordered" %>
  </div>

  <%# TODO: make source more friendly when adding a link %>
  <div class="form-control">
    <%= form.label :source, class: "label" %>
    <%= form.text_field :source, class: "input input-bordered" %>
  </div>
  
  <div class="form-control">
    <%= form.label :notes, class: "label" %>
    <%= form.text_area :notes, class: "textarea textarea-bordered" %>
  </div>


  <div class="flex gap-2 my-4">
    <%= form.submit nil, class: "btn btn-primary" %>
    <% if meal.persisted? %>
      <%= button_to "Delete Meal", meal, method: :delete, class: "btn btn-error" %>
    <% end %>
  </div>
<% end %>
