<div class="card bg-base-200" id="<%= dom_id meal %>">
  <div class="card-body not-prose">
    <div class="card-actions justify-end">
      <%= link_to(edit_meal_path(meal), class: "btn btn-circle btn-xs btn-ghost") do  %>
       <%== edit_svg %>
        <% end %>
      <%= link_to(meal, method: :delete, data: { 'turbo-confirm': "Are you sure?", 'turbo-method': :delete }, class: "btn btn-circle btn-xs btn-ghost") do %>
        <%== trash_svg %>
      <% end %>
    </div>
    <h3 class="card-title">
      <%= meal.name %>
    </h3>

    <p>
      <strong>Source:</strong>
      <% if meal.source&.start_with? "http" %>
        <a href="<%= meal.source %>" class="link link-primary" target="_blank" rel="noopener noreferrer">
          <%= meal.source %>
        </a>
      <% else %>
        <%= meal.source %>
      <% end %>
    </p>

    <% if meal.notes.present? %>
      <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox"/>
        <div class="collapse-title font-medium">
          Notes
        </div>
        <div class="collapse-content">
          <p>
            <%= meal.notes %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
