<%# locals: (:show_edit) %>
<% unless local_assigns.has_key? :show_edit %>
  <% show_edit = true %>
<% end %>
<div class="card bg-base-200" id="<%= dom_id meal %>">
  <div class="card-body not-prose">
    <% if show_edit %>
    <div class="card-actions justify-end">
      <a class="btn btn-circle btn-xs btn-ghost" href="<%= edit_meal_path(meal) %>" data-turbo-frame="_top">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>
      </a>
    </div>
    <% end %>
    <h3 class="card-title">
        <%= meal.name %>
    </h3>
    <div class="flex gap-2 py-2">
      <% badge_classes = %w[badge-primary badge-secondary badge-accent] %>
      <% meal.tag_list.each_with_index do |tag, i| %>
        <div class="badge <%= badge_classes[i % badge_classes.size] %>">
          <%= tag %>
        </div>
      <% end %>
    </div>

    <p>
      <strong>Source:</strong>
      <%= meal.source %>
    </p>

    <% if meal.notes.present? %>
      <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox" />
        <div class="collapse-title font-medium">
          Notes
        </div>
        <div class="collapse-content">
          <p>
            <%= meal.notes %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
