<!DOCTYPE html>
<html>
  <head>
    <title>MealBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>

  <body>
  <nav style="display: flex; justify-content: space-between; align-items: center;">
      <% if user_signed_in? %>
        <%= link_to 'Meals', root_path %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
